<p id="notice"><%= notice %></p>


<h3>FTP ORDENES</h3>

<table class="table table-striped">
  <thead >
    <tr>
      <th scope="col">ID</th>
      <th scope="col">SKU</th>
      <th scope="col">estado</th>
      <th scope="col">Fecha Creada</th>
      <th scope="col">Tiempo Faltante</th>
      <th scope="col">Cantidad</th>
      <th scope="col">CantidadDespachada</th>
      <th scope="col">Faltan</th>
      <th scope="col">precioUnitario</th>
      <th scope="col">rechazo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenes.each do |orden| %>
      <tr>
        <th scope="row"><%= orden['_id'] %></td>
        <td><%= orden['sku'] %></td>
        <td><%= orden['estado'] %></td>
        <td><%= orden['created_at'] %></td>
        <td><%= orden['fechaEntrega']%> min</td>
        <td><%= orden['cantidad'] %></td>
        <td><%= orden['cantidadDespachada'] %></td>
        <td><%= orden['cantidad'] - orden['cantidadDespachada'] %></td>
        <td><%= orden['precioUnitario'] %></td>
        <td><%= orden['rechazo'] %></td>

      </tr>
    <% end %>
  </tbody>
</table>
