<p id="notice"><%= notice %></p>

<h1>Vouchers</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Monto neto</th>
      <th>Iva pagado</th>
      <th>Monto final</th>
      <th>Productos</th>
      <th>Ubicacion</th>
      <th>Hora entrega</th>
      <th>Hora pedido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.id %></td>
        <td><%= voucher.nombre %></td>
        <td><%= voucher.monto_neto %></td>
        <td><%= voucher.iva_pagado %></td>
        <td><%= voucher.monto_final %></td>
        <td><%= voucher.productos %></td>
        <td><%= voucher.ubicacion %></td>
        <td><%= voucher.hora_entrega %></td>
        <td><%= voucher.hora_pedido %></td>
        <td><%= link_to 'Show', voucher %></td>
        <td><%= link_to 'Edit', edit_voucher_path(voucher) %></td>
        <td><%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voucher', new_voucher_path %>
